#idx-atf {
    background-image: url("../img/background-photo.jpg");
}

#idx-atf > div {
    height: 18vh;
}

h1 {
    font-size: 2rem;
}

h3 {
    margin-top: .4rem;
}

header div, header nav, a {
    padding: .2rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;

}

header {
    width: 100vw;
    height: 2.3rem;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}


.dt_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    fill: currentColor;
}