body {
    height: 100vh;
}

nav {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100%;
    border-right: 1px solid lightgray;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.nav {
    margin-top: 3rem
}


.foot {
    margin-bottom: 3rem
}

span {
    color: skyblue;
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    font-family: sans-serif
}

span:hover {
    color: dodgerblue;
    background-color: whitesmoke
}
