/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/

html {
    font-size: 4vw;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%
}

h1 {
    color: red;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


h1 {
    animation-name: slider;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes slider {
    0% { font-size: 10rem; }
    100% { font-size: 100rem; }
}