#atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bird.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6rem;
    color: red;
}