html, body, ul, li, p {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    border: 5px solid black;
    margin: 0 auto;
}

ul {
    width: 150px;
    border: 3px solid red;
    float: left;
}

li {
    padding: 1em;
    display: inline-block;
}

p {
    padding: 1em;
    width: 540px;
    border: 3px solid red;
    float: right;
}